<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Entrada</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/login.css')}}">

</head>
<body>
    <h1>
        APLICACAO DE CONTROLE DE ESTOQUE <br><br>

       {{nomecadastro}}<br><br>
        {{nomeUsuario}}<br>
        {{campo2}}<br>


    </h1>


</body>
</html>
